
*{
    font-family: cursive;
    background-image: url(./img/fo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#board, .boardInfo{
    max-width: 30spx;
}

#title{
    text-align: center;
    color: #126360;
    font-size: 60px;
}    

#board {
    display: grid;
    grid-template-rows: repeat(10, 20px);
    grid-template-columns: repeat(10, 20px);
    gap: 1px;
    margin-top: 20px;
}
#start, .boardInfo{
    font-size: 40px;
    color: #efc66a;
    display: flex;
}
#gameOver {
    display: none;
}

#start{
    border-radius: 30px;
    border-color: #93f6ad;
    border-style: dashed;
    border-width: 5px;
}
#scoreBoard {
    background-color: none;
    border-radius: 3px;
}
.square {
    aspect-ratio: 44px;
}
.emptySquare {
    background-color: blueviolet;
}

.snakeSquare {
    background-color: chocolate;
    border: 5px solid #000;
}
.foodSquare {
    background-color: darkviolet;
    border: 1px solid aqua;
}