body {
    font-family: cursive;
    background-image: url(./img/fo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#titu{
    text-align: center;
    color: #efc66a;
    font-size: 60px;
    margin-block-end: 5px;
}
#board {
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(10, 60px);
    grid-template-columns: repeat(10, 60px);
    gap: 0px;
    margin-top: 10px;
}
#start, .boardInfo{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    color: #efc66a;
    font-size: 40px;
    font-weight: 800;
}
#start{
    border-radius: 30px;
    border-color: #a5cd50;
    border-width: 7px;
}
#score{
    margin-top: 20px;
    padding-right: 60px ;
}
.square {
    width: 60px;
    height: 60px;
    
}

.emptySquare {
    background-image: url(./img/past.jpg) ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.snakeSquare {
    border-radius: 25px;
    background-image: url(./img/piel.jpg);
    background-size: cover;
    border: #efc66a;
}

.foodSquare {
    background-image: url(./img/tenor\ \(1\).gif);
    background-size: cover;
    border-radius: 10px;
    
}

#scoreBoard {
    margin-bottom: 20px;
}
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
#gameover {
    animation-name:fadeIn;
    animation-duration: 4s;
    display: flex;
    align-items: baseline;
    color: red;
    font-size: 40px;
    text-align: center;
    font-weight: 700;
    margin-block-end: 5px;
}
